* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #010001;
   
    --text: #FFD700;
    --accent: #FF7A00;
}

html {
    background-color: var(--bg);
    color: var(--text);
    font-family: "Cinzel", serif;
}

/* HERO */
.hero {
    position: relative;
    min-height: 85vh;
    display: grid;
    place-items: center;
    text-align: center;
    overflow: hidden;
    padding: 24px;
}

.hero__image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(45%);
    transform: scale(1.02);
    z-index: 0;
}

.hero__overlay {
    position: absolute;
    inset: 0;
    background: radial-gradient(
        circle at 50% 40%,
        rgba(0,0,0,0.15),
        rgba(0,0,0,0.75)
    );
    z-index: 1;
}

.hero__content {
    position: relative;
    max-width: 26rem;
    z-index: 2;
}

.hero__title {
    color: var(--text);
    font-size: clamp(2rem, 7vh, 3.25rem);
    line-height: 1.05;
}

.hero__subtitle {
    font-size: clamp(1.1rem, 4vh, 1.6rem);
    margin-top: -0.5rem;
    /* margin-left:; */
    letter-spacing: 0.06em;
}

.hero__tagline {
    margin-top: 4rem;
    font-size: clamp(1rem, 3.6vw, 1.2rem);
    color: rgba(234,234,234,0.9);
}

/* SECTION TITLE WITH LINES */
.section__title {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 24px 0 12px;
}

.section__title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* LEWA LINIA */
.section__title::before {
    content: "";
    flex: 1;
    height: 2px;

    /* pełny kolor przy tekście → zanika na zewnątrz */
    background: linear-gradient(
        to left,
        var(--text),
        transparent
    );
}

/* PRAWA LINIA */
.section__title::after {
    content: "";
    flex: 1;
    height: 2px;

    /* pełny kolor przy tekście → zanika na zewnątrz */
    background: linear-gradient(
        to right,
        var(--text),
        transparent
    );
}





/* SECTION IMAGE */
.section__img {
    width: 100%;
    object-fit: cover;
    filter: brightness(45%);
    transform: scale(1.02);
    margin-top: 10px;
    aspect-ratio: 12 / 9;     /* nowocześnie i stabilnie */
    /* border-radius: 12px;       */
}

/* TEXT */
.section__main-text {
    display: flex;
    flex-direction: column;
}

.section__text {
    text-align: center;
    margin: 10px;
    letter-spacing: 0.06em;
    line-height: 1.7;
    /* color: rgba(234,234,234,0.9); */
    color: var(--text);
}



/* FOOTER */

.footer__copy--text {
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
}