* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --bg:#0B0B0B;
    --text: white;
}

html {
    background-color: var(--bg);
    color: var(--text);
}

body { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    height: auto;
}

.header__nav {
    
    
}

.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
    
    

}

.menu__item {
    list-style: none;
   
    
    

}

.menu__link {
    text-transform: uppercase;
    cursor: pointer;
}